<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zutsg.dao.GardenNewsMapper">
  <resultMap id="BaseResultMap" type="com.zutsg.pojo.GardenNews">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="cotent" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="isTop" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="userId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="image" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, cotent, isTop, userId, image,createTime,title
  </sql>

  <select id="selectByNews" parameterType="com.zutsg.pojo.GardenNews" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from garden_news where 1=1
    <if test="id != null">
      and id=#{id,jdbcType=INTEGER}
    </if>
    <if test="cotent != null">
      and  cotent=#{cotent,jdbcType=VARCHAR}
    </if>
    <if test="image != null">
      and  image=#{image,jdbcType=VARCHAR}
    </if>
    <if test="isTop != null">
      and isTop=#{isTop,jdbcType=INTEGER}
    </if>
    <if test="userId != null">
      and userId=#{userId,jdbcType=INTEGER}
    </if>
    <if test="title != null">
      and title=#{title,jdbcType=VARCHAR}
    </if>
    <if test="createTime != null">
      and createTime &gt;#{createTime,jdbcType=TIMESTAMP}
    </if>
    order by id desc
  </select>
  <select id="selectByNewsPage" parameterType="com.zutsg.pojo.GardenNews" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from garden_news where 1=1
    <if test="id != null">
      and id=#{id,jdbcType=INTEGER}
    </if>
    <if test="cotent != null">
      and  cotent=#{cotent,jdbcType=VARCHAR}
    </if>
    <if test="image != null">
      and  image=#{image,jdbcType=VARCHAR}
    </if>
    <if test="isTop != null">
      and isTop=#{isTop,jdbcType=INTEGER}
    </if>
    <if test="userId != null">
      and userId=#{userId,jdbcType=INTEGER}
    </if>
    <if test="title != null">
      and title=#{title,jdbcType=VARCHAR}
    </if>
    <if test="createTime != null">
    and createTime &gt;#{createTime,jdbcType=TIMESTAMP}
  </if>
    order by id desc limit ${pageBean.page},${pageBean.pageSize}
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from garden_news
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from garden_news
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.zutsg.pojo.GardenNews">
    insert into garden_news
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cotent != null">
        cotent,
      </if>
      <if test="isTop != null">
        isTop,
      </if>
      <if test="userId != null">
        userId,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="createTime != null">
     createTime,
      </if>
      <if test="title != null">
      title,
    </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cotent != null">
        #{cotent,jdbcType=VARCHAR},
      </if>
      <if test="isTop != null">
        #{isTop,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>

    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zutsg.pojo.GardenNews">
    update garden_news
    <set>
      <if test="cotent != null">
        cotent = #{cotent,jdbcType=VARCHAR},
      </if>
      <if test="isTop != null">
        isTop = #{isTop,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        userId = #{userId,jdbcType=INTEGER},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
         createTime=#{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null">
        title= #{title,jdbcType=VARCHAR},
      </if>

    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>