<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zutsg.dao.ScientificMapper" >
  <resultMap id="BaseResultMap" type="com.zutsg.pojo.Scientific">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="image" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="content" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="address" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="userId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="status" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="createTime"  javaType="java.util.Date" jdbcType="DATE"/>
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, title, image, content, address, userId, status,createTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from scientific
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByScientfic" parameterType="com.zutsg.pojo.Scientific" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from scientific  where 1=1
    <if test="id != null">
      and id=#{id,jdbcType=INTEGER}
    </if>
    <if test="title != null">
      and title=#{title,jdbcType=VARCHAR}
    </if>
    <if test="status != null">
      and status=#{status,jdbcType=INTEGER}
    </if>
    <if test="image != null">
      and  image=#{image,jdbcType=VARCHAR}
    </if>
    <if test="content != null">
      and  content=#{content,jdbcType=VARCHAR}
    </if>
    <if test="address != null">
      and  address=#{address,jdbcType=VARCHAR}
    </if>
    <if test="image != null">
      and  image=#{image,jdbcType=VARCHAR}
    </if>
    <if test="userId != null">
      and userId=#{userId,jdbcType=VARCHAR}
    </if>
  </select>



  <select id="selectByScientficPage" parameterType="com.zutsg.pojo.Scientific" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from scientific  where 1=1
    <if test="id != null">
      and id=#{id,jdbcType=INTEGER}
    </if>
    <if test="title != null">
      and title=#{title,jdbcType=VARCHAR}
    </if>
    <if test="status != null">
      and status=#{status,jdbcType=INTEGER}
    </if>
    <if test="image != null">
      and  image=#{image,jdbcType=VARCHAR}
    </if>
    <if test="content != null">
      and  content=#{content,jdbcType=VARCHAR}
    </if>
    <if test="address != null">
      and  address=#{address,jdbcType=VARCHAR}
    </if>
    <if test="image != null">
      and  image=#{image,jdbcType=VARCHAR}
    </if>
    <if test="userId != null">
      and userId=#{userId,jdbcType=VARCHAR}
    </if>
    limit ${pageBean.page},${pageBean.pageSize}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from scientific
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.zutsg.pojo.Scientific">
    insert into scientific
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="userId != null">
        userId,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zutsg.pojo.Scientific">
    update scientific
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        userId = #{userId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
